.votingParent {
  border: 1px solid #ccc;
  width: 70%;
  margin: 100px auto;
  padding: 10px;
  border-radius: 8px;
  background-color: #e2f2ff;
}

.vote {
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-bottom: 8px;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: white;
}

.vote:hover {
  background-color: rgb(230, 243, 255);
}

.bar {
  position: absolute;
  height: 100%;
  width: 0; /* start with no fill */
  top: 0;
  left: 0;
  border-radius: 20px;
  transition: width 0.6s ease-in-out; /* smooth animation */
  opacity: 0.3;
}

.vote p {
  margin: 0;
}
