* {
  margin: 0;
  padding: 0;
}

#app {
  position: relative;
}

.calender_view {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 60px;
  .time {
    border-bottom: 1px solid rgb(15, 193, 238);
    padding-left: 10px;
    padding-top: 10px;
    font-weight: bold;
  }
}

.vertical_line {
  position: absolute;
  border: 1px solid skyblue;
  top: 0;
  bottom: 0;
  left: 60px;
}
