.autocomplete {
    position: relative;
}
  
#autocomplete-results {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
}

#autocomplete-results li {
    padding: 10px;
    cursor: pointer;
}

#autocomplete-results li:hover {
    background-color: #f9f9f9;
}
  
